.heading-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 500px;
}

.coin-h1-cont {
    font-size: 0.4rem;
    width: 450px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.percents-h1-cont {
    font-size: 0.4rem;
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.price-h1-cont {
    font-size: 0.4rem;
    width: 250px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 500px;

}


.coin {
    border-left: 1px solid rgb(196, 196, 196);
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 250px;
    margin-right: 20px;

    
}

.coin h1 {
    font-size: 16px;
    width: 200px;
    color: #000;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.coin-symbol {
    text-transform:uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.c-container {
    height: 80px;
}

.coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    border-bottom:1px solid rgb(196, 196, 196);
    color: #000;
}


.coin-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 80px;
    font-weight: bold;
    border-bottom:1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
}

.red {
    color: red;
}

.green {
    color: green;
}

@media (max-width: 570px) {

    .heading-container {
        width: 350px;
    }

    .coin-h1-cont {
        width: 280px;
    }
    
    
    .price-h1-cont {
       display: none;
    }
    
    .percents-h1-cont {

    }

    .coin-row {
      width: 300px;
      margin-right: 50px;
    }

    .coin-price {
        display: none;
    }
    
    
    .coin-percent {
        border-right: 1px solid rgb(196, 196, 196);
}
}
@media (max-width: 415px) {

    .heading-container {
        width: 310px;
    }

    .percents-h1-cont {
        font-size: 0.35rem;
    }


    .coin-h1-cont {
        width: 250px;
        font-size: 0.35rem;
    }
    

    .coin-row {
      width: 300px;
      margin-left: 40px;
    }

    .coin {
        margin-right: -20px;
    }
    
    .coin h1 {
        font-size: 0.7rem;
        width: 120px;
    }

.coin-symbol {
    font-size: 0.7rem;
}
}
